{% extends "layout.html" %}

{% block heading %}
    <script src="{{ url_for('static', filename='location.js') }}"></script>
{% endblock %}

{% block body %}

<div class="row justify-content-md-center">
    <div class="col-lg-10 col-sm-12">
        <div>
        {% if comments %}
            <h5>You have {{ count }} comment(s).</h5>
        {% else %}
            <h5>You have no comment.</h5>
        {% endif %}
        </div>
        <div>
            <ul class="list-group">
            {% for comment in comments %}
            {% set comment_id=comment.id %}
            {% set location_id=comment.location_id %}
                <li class="list-group-item">
                    <a href="{{ url_for('location', location_id=location_id) }}">
                        {{ comment.comment }}</a>, {{ comment.time }} (UTC)
                    <form action="{{ url_for('delete', comment_id=comment_id) }}" method="POST" class="delete">
                        <button type="submit" class="btn btn-secondary" name="comment_id" value="{{ comment_id }}">delete</button>
                    </form>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}