<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Rainy Day</title>

    {% block heading %}
    {% endblock %}
</head>
<body>
    <!-- navbar -->
    <div id="navbar">
        <ul class="nav justify-content-center bg-dark">
            <li class="nav-item">
                <h5><a class="nav-link text-light" href="/">Rainy Day</a></h5>
            </li>
            <li class="nav-item">
                <h5><a class="nav-link text-light" href="https://github.com/syntaxkim/project1" target="_blank">GitHub</a></h5>
            </li>
            <li class="nav-item">
                <h5><a class="nav-link text-light" href="{{ url_for('api') }}">API</a></h5>
            </li>
            {% if not "user_id" in session %}
            <li class="nav-item">
                <h5><a class="nav-link text-light" href="{{ url_for('signup') }}">Sign up</a></h5>
            </li>
            <li class="nav-item">
                <h5><a class="nav-link text-light" href="{{ url_for('signin') }}">Sign in</a></h5>
            </li>
            {% else %}
            <li class="nav-item">
                {% set name = session["user_id"][1] %}
                <h5><a class="nav-link text-light" href="{{ url_for('user', name=name) }}">My comment list</a></h5>
            </li>
            <li class="nav-item">
                <h5><a class="nav-link text-light" href="{{ url_for('signout') }}">Sign out</a></h5>
            </li>
            <li class="nav-item">
                <h5><a class="nav-link text-light disabled">User: <strong>{{ session["user_id"][1] }}</strong></a></h5>
            </li>
            {% endif %}
        </ul>
    </div>

    <!-- container-body -->
    <div id="container" class="container">
        {% block body %}
        {% endblock %}
    </div>
    
    <!-- footer -->
    <footer id="footer" class="container-fluid card-footer text-center bg-light">
        <div>Weather data API source - <a href="https://darksky.net/dev" target="_blank">Dark Sky API</a></div>
        <div id="license">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> Smashicons</div>
    </footer>
</body>
</html>
