<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Rainy Day</title>

    {% block heading %}
    {% endblock %}
</head>
<body>
    <!-- navbar -->
    <div id="navbar">
        {% include "navbar.html" %}
    </div>
    
    <!-- container-body -->
    <div id="container" class="container">
        {% block body %}
        {% endblock %}
    </div>
    
    <!-- footer -->
    <footer id="footer" class="container-fluid card-footer text-center bg-light">
        <div id="heroku">App deployed with <a href="https://www.heroku.com" target="_blank">Heroku</a></div>
        <div>Weather data API source - <a href="https://darksky.net/dev" target="_blank">Dark Sky API</a></div>
        <div id="license">Icons made by <a href="https://www.flaticon.com/authors/smashicons" target="_blank">Smashicons</a> from <a href="https://www.flaticon.com/" target="_blank">Flaticon</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> Smashicons</div>
    </footer>
</body>
</html>
