{% extends "layout.html" %}

{% block body %}

    <form action="{{ url_for('search') }}" method="POST">
        <div class="form-group">
            <label>Search your locations</label>
            <input class="form-control" name="location" autofocus autocomplete="off" type="text" placeholder="ZIP Code or city name">
            <small class="form-text text-muted"></small>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>

    {% if location %}
    <div>
        <h5>Location information</h5>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item">Zipcode: {{ location.zipcode }}</li>
            <li class="list-group-item">City: {{ location.city }}</li>
            <li class="list-group-item">State Code: {{ location.state }}</li>
            <li class="list-group-item">Latitude: {{ location.lat }}</li>
            <li class="list-group-item">Longitude: {{ location.long }}</li>
            <li class="list-group-item">Popuation: {{ location.population }}</li>
        </ul>
    </div>
    {% else %}
    <div>
        <ul class="list-group">
            {{ message }}
        </ul>
    </div>
    {% endif %}

    <br>

    <form action="{{ url_for('index') }}" method="POST">
        <div class="form-group">
            <input class="form-control" name="comment" autocomplete="off" type="text" placeholder="Leave your comment">
            <small class="form-text text-muted"></small>
        </div>
        <button type="submit" class="btn btn-primary">Check in this location</button>
    </form>
    
{% endblock %}