{% extends "layout.html" %}

{% block body %}
    <div>
        <h1>Registration</h1>
        <form action="{{ url_for('register') }}" id="registration" method="POST">
            <input name="name" type="text" autocomplete="off" autofocus placeholder="Pick a username">
            <input name="password" type="password" placeholder="Create a password">
            <input name="confirmation" type="password" placeholder="Password (again)">
            <input type="submit" value="Sign up">
        </form>
    </div>
{% endblock %}