{% extends "layout.html" %}

{% block body %}

    <form action="{{ url_for('search') }}" method="POST">
        <div class="form-group">
            <input class="form-control" name="location" autofocus autocomplete="off" type="text" placeholder="Search locations">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>

    {% if results %}
    <div>
        <ul class="list-group">
            {% for result in results %}
                <li class="list-group-item">
                    <a href="{{ url_for('index') }}">
                        Zipcode: {{ result.zipcode }}, City: {{ result.city }}, State Codes: {{ result.state }}, Population: {{result. population }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div>
        <ul class="list-group">
            {{ message }}
        </ul>
    </div>
    {% endif %}

{% endblock %}