{% extends "layout.html" %}

{% block heading %}
    <script src="{{ url_for('static', filename='location.js') }}"></script>
{% endblock %}

{% block body %}

    <form action="{{ url_for('search') }}" method="POST" id="search">
        <div class="form-group">
            <label><h5>Search your locations</h5></label>
            <input class="form-control" name="location" autofocus autocomplete="off" type="text" placeholder="ZIP Code or city name">
            <small class="form-text text-muted"></small>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>

    {% if results %}
    <div>
        <h5>Search results</h5>
    </div>
    <div>
        <ul class="list-group">
            {% for result in results %}
                <li class="list-group-item">
                    <a href="{{ url_for('location', location_id=result.id) }}">
                        Zipcode: {{ result.zipcode }}, City: {{ result.city }}, State Codes: {{ result.state }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div>
        <ul class="list-group">
            {{ message }}
        </ul>
    </div>
    {% endif %}

{% endblock %}